body {
    font-family: tahoma, serif;
    color:#282828;
    margin: 0;
}

.nav-bar {
    background: linear-gradient(-90deg, #0099ff, #FFFFFF);
    height: 70px;
    margin-bottom: 15px;
    position: relative;
}

.product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
}

img {
    border: 1px solid #d8d8d8;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.group_photo {
    position: relative;
    max-width: 800px; /* Maximum width */
    width: 100%;
    margin: 20px auto;

}
.group_photo .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
}

.product-image,
.product-info {
    margin-top: 10px;
    width: 50%;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.send {
    margin-top: 30px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
}

.disabledButton {
    background-color: #d8d8d8;
}

.review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
}

input {
    height: 25px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 60px;
}
div {
    box-sizing: border-box;
}
.tab {
    margin-left: 20px;
    cursor: pointer;
}

.activeTab {
    color: #16C0B0;
    text-decoration: underline;
}

.title{
    font-family: Mierb, Inter, arial, sans-serif;
    font-size: 90px;
    font-weight: 900;
    padding-bottom: 0px;
    text-align: center!important;
}
a:link {
    color: blue;
    text-decoration: none;
  }
  a:visited {
    color: purple;
  }
  a:hover {
    color: aqua;
    text-decoration: underline;
  }
  a:active {
    color: red;
  }
  a:visited:hover {
    color: orange;
  }
  a:visited:active {
    color: red;
  }
  .listeningExamples:hover,
  .listeningExamples:visited:hover{
    color: #FFF;
    background-color: #76AEED;
  }
  .listeningExamples:active,
  .listeningExamples:visited:active{
    color: #FFF;
    background-color: #5995DA;
  }
  .listeningExamples{
      padding: 20px 10px;
      background-color: #1E95EA;
      color: white;
  }